body {
    margin: 0;
    height: 100vh;
    background-image: url('Grad.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* title{
    color: #DEE8CE;
} */
#top-nav {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 1500;
    font-style: normal;
    background-color: #000000e5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    height: 80px;
    gap: 10px;
}

/* Solid Login box */
#login {
    background-color: rgba(255, 255, 255, 0.681);
    margin: auto;
    height: 350px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
    margin: 100px auto;
    text-align: left;
}


#login h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* center only the heading */
    font-size: 28px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login input[type="text"],
#login input[type="password"] {
    width: 60%;
    padding: 4px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

#login input[type="submit"] {
    -webkit-tap-highlight-color: transparent;  /* removes blue overlay */
    outline: none;  /* removes focus outline */
    width: 40%;
    padding: 10px;
    border: none;
    background: rgb(0, 47, 255);
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#login input[type="submit"]:hover {
    background: #2f00ffe5;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#login a {
    padding: 20px;
}

a:active {
    color: green;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}